<script language="javascript">
  Stripe.setPublishableKey("<%= Rails.application.credentials.stripe[:publishable_key] %>");
</script>

<div class="row">
  <div class="col-md-6">
    <h2 class="pb-4"><%= t('.sign_up') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: "form", class: "cc_form" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="row mb-4">
        <div class="col">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>

          <% if @minimum_password_length %>
            <div class="form-text"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></div>
          <% end %>
        </div>

        <div class="col">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>
      </div>

      <%= fields_for(:payment) do |p| %>
        <div class="row mb-3">
          <div class="col-md-4">
            <%= p.label :card_number, "Card Number", data: {stripe: 'label'} %>
            <%= p.text_field :card_number, class: "form-control", required: true, data: { stripe: 'number' } %>
          </div>
          <div class="col-md-2">
            <%= p.label :card_cvv, "Card Cvv", data: {stripe: 'label'} %>
            <%= p.text_field :card_cvv, class: "form-control", required: true, data: { stripe: 'cvv' } %>
          </div>
          <div class="col-md-6">
            <%= p.label :card_expires, "Card Expires", data: {stripe: 'label'} %>
            <div class="row">
              <div class="col">
                <%= p.select :card_expires_month, options_for_select(Payment.month_options), { include_blank: 'Month' }, "data-stripe" => "exp-month", class: "form-control", required: true %>
              </div>
              <div class="col">
                <%= p.select :card_expires_year, options_for_select(Payment.year_options), { include_blank: 'Year' }, class: "form-control", data: { stripe: "exp-year" }, required: true %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
