<div class="row">
  <div class="col-md-6">
    <%= form_with( multipart: true, model: image, class: "needs-validation", novalidate: true) do |form| %>
      <% if image.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

          <ul>
            <% image.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control", required: true %>
        <div class="invalid-feedback">
          Please provide a name.
        </div>
      </div>

      <div class="mb-3">
        <%= form.label :picture, class: "form-label" %>
        <%= form.file_field :picture, accept: 'image/jpeg, image/gif, image/png', class: "form-control", required: true %>
        <div class="invalid-feedback">
          Please choose a valid image file (JPEG, GIF, or PNG).
        </div>
      </div>
      
      <% if image.picture? %>
        <div class="mb-3">
          <%= link_to image_path(image) do %>
            <%= image_tag image.picture.url, size: "400x250" %>
          <% end %>
        </div>
      <% end %>

      <%= form.submit "Submit Image", class: "btn btn-success" %>
    <% end %>

    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('image_picture').addEventListener('change', function(){
          var size_in_megabytes = this.files[0].size/1024/1024;
          if (size_in_megabytes > 5){
            alert('Maximum file size is 5MB.');
            this.value = "";
          }
        });
      });
    </script>
  </div>
</div>
