<!DOCTYPE html>
<html>
  <head>
    <title>PhotoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "https://js.stripe.com/v2/"%>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="container">
      <!-- Render Navigation Bar -->
      <%= render 'layouts/navigation' %>

      <!-- show alert and errer-->
      <div class="row">
        <div class="col-md-6">
          <% if notice.present? %>
            <p class="alert alert-success mt-4"><%= notice %></p>
          <% end %>

          <% if alert.present? %>
            <p class="alert alert-danger mt-4"><%= alert %></p>
          <% end %>
        </div>
      </div>
      
      <%= yield %>
    </div>

  </body>
</html>
